@charset "UTF-8";

h1#principal{
    text-align: center;
    margin: 40px;
}

hr{
    margin-bottom: 40px;
}

/* REMOVENDO ESTILO DA LISTA:

ul,ol{
    padding: 0px;
    margin: 0px;
    list-style: none;
}

dl,dd{
    margin: 0px;
}

*/

