@charset "UTF-8";

@import url(global.css);
@import url(header.css);
@import url(introducao.css);
@import url(experiencia.css);

@font-face {
    font-family: RockSalt;
    src: url(../fonts/RockSalt-Regular.ttf);
}

@font-face {
    font-family: SourceCodePro;
    src: url(../fonts/SourceCodePro-VariableFont_wght.ttf);
}