@charset "UTF-8";

.grid{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2,1fr); /* Utilizamos a funcao repeat para evitar ficar repetindo diversas vezes o valor, principalmente quando forem muitos itens como mais de 10 colunas. */

    /* grid-template-rows: repeat(4,200px); /* Define o tamanho de cada linha do grid, seu default é auto para que se ajuste ao conteudo dos containers, a ordem inserida dos valores é a linha em questão a ter o seu valor alterado. */

    /* grid-auto-rows: 200px; /* Define o tamanho de cada linha nova que surgir. (*** IMPORTANTE: entendemos linha nova que surgir como qualquer linha que nao tenha o seu valor setado por meio da propriedade grid-template-rows) */
}

.titulo{
    grid-column: 1/-1; /* Queremos que o titulo ocupe todas as colunas. */
}

.info{
    display: grid;
    place-items: start;
    place-self: start;
    gap:20px;
}

.preco{
    /* Com o grid-column e grid-row nós forçamos um elemento a ficar em uma certa linha e/ou certa coluna, no exemplo abaixo forcamos o elemento a ficar na coluna 2 e linha 2. 

    grid-row: 2;
    grid-column: 2;

    grid-area: 2/2; /* Idem aos anteriores, mas aqui conjugamos as duas propriedades em uma só (shorthand) sendo a primeira a linha e a segunda a coluna. */
}

/*
.foto{
    grid-column: 1;
    grid-row: 2/5; /* Queremos que a foto ocupe toda a primeira coluna (exceto a parte do titulo).
}
*/

/*
.comprar{
    grid-column: 2;
}
*/

/* Estilos Gerais */

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
}

h1,p{
    margin: 0px;
}

h1.assunto{
    text-align: center;
}

h1{
    font-size: 48px;
    line-height: 1;
}

.preco{
    background-color: #ddd;
    padding: 5px 10px;
    border-radius: 4px;
}

p,span{
    font-size: 20px;
}

img{
    max-width: 100%;
    border-radius: 4px;
}

a.comprar{
    background: #2ba4f5;
    color: #083350;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    font-size: 20px;
}