@charset "UTF-8";

div{
    margin-top: 40px;
    border: 2px solid #CCC;
    padding: 20px 20px 40px 20px;
}

span{
    background-color: lightgray;
    border: 2px solid black;
    padding: 10px;
    position: relative; /* Nesse caso a posicao é relativa, ou seja, relativa a posicao inicial onde ele está e nao à tela total, colocando o top em top:-20px; reparamos que ele sobe em 20px a posicao com referencia inicial sua posicao original 
    *** Observacao: O elemento continua ocupando o espaço inicial reservado a ele. */
    top: -20px; /* Opcoes top, bottom, left e right */
}

.fixo{
    position: fixed; /* Define uma posicao fixa para o elemento, as propriedades abaixo top, bottom, left e right vao definir a posicao fixa que o elemento vai estar. */
    top: 20px; /* Top e bottom nao podem ser usados em conjunto (diferente de left e right), temos que escolher um dos dois para fazer uso. */


    left: 20px; /* Podemos usar os atributos left e right em conjunto, cada um deles eh a distancia que o elemento vai ter do canto da tela esquerda ate sua posicao (left) ou do canto da tela direita ao elemento (right). Se usarmos os dois o elemento será esticado para atender a ambas as propriedades. */
    right: 20px;
}