@charset "UTF-8";


h1 {
  margin: 0px;
  padding: 10px;
  background: lightblue;
}

.index1 {
  position: relative;
  background: greenyellow;
  top: 40px;
  z-index: 1; /* Nesse caso ele fica a frente de todos os elementos como se fosse uma folha de papel por cima das outras */
}

.index2 {
  position: relative;
  background: lightcoral;
  top: -40px;
  z-index: -1; /* Nesse caso eh o inverso do exemplo acima, ele fica por baixo dos outros elementos */
}