@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
}

.grid{
    display: grid;
    /* grid-template-columns: 50% 50%;  Separa as colunas metade metade com a tela disponível, não é muito interessante de ser usado pois se houver medida de distanciamento horizontal entre as colunas (como o gap) ele acaba criando uma barra de rolagem horizontal. */

    grid-template-columns: 300px 300px 300px; /* Alteramos os valores da largura das colunas para que haja sobrar de espáço (diferente de como estava anteriormente com 1fr 1fr), assim poderemos efetuar o estudo dos alinhamentos align e justify */

    /* grid template columns: auto auto; /* Nesse caso do valor padrao para tamanho das colunas (que é o default), ele utiliza o tamanho máximo do conteúdo que existe dentro da caixa para definir o tamanho dela, ou seja, textos grandes podem gerar aumento no tamanho da caixa. */

    gap:20px; /* Cria uma margem entre os elementos do grid, pra baixo e pros lados. (não para cima) */

    /* justify-content: center; /* Justifica no meio da tela */

    justify-content: end; /* Justifica no fim da tela */
}

div.item{
    background: #d7e9f5;
    border: 1px solid #e7e7e7;
    padding: 20px;
    border-radius: 4px;
    display: grid; /* Quando definimos o display grid as margens param de colidir pois passam também a ter o proprio espaçamento do display grid, logo o espaçamento aumenta. */
}

h2{
    margin-top: 0px;
}

a.comprar{
    background: #2ba4f5;
    color: #083350;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
}