@charset "UTF-8";

/*

# Cores

cinza-fundo: #f7f7f7
cinza-texto: #c6c6c6
vermelho: #ee2211

# Tipografia

fonte: Arial
parágrafos: 20px
Vantagens Bikcraft: 64px

# Tamanhos

conteúdo principal: máximo 1000px

*/


body{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.back-cinza-fundo{
    background-color: #f7f7f7;
}

header h1{
    text-align: center;
    padding: 20px 0px 0px 0px;
    font-size: 36px;
}

nav{
    display: flex;
    justify-content: center;
    gap: 70px;
    padding: 40px 0px 70px 0px;
}

nav a{
    text-decoration: none;
    color: black;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
}

.text-right{
    text-align: right;
}

.item{
    padding: 20px;
}

img{
    max-width: 100%;
}

footer p{
    text-align: center;
}