@charset "UTF-8";

/*

# Cores

cinza-fundo: #f7f7f7
cinza-texto: #c6c6c6
vermelho: #ee2211

# Tipografia

fonte: Arial
parágrafos: 20px
Vantagens Bikcraft: 64px

# Tamanhos

conteúdo principal: máximo 1000px

*/

body{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


header h1{
    text-align: center;
}

nav{
    display: flex;
    justify-content: center;
    gap: 20px;

}

main{
}